.Users {
    padding: 10px;
}

.UsersContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.column:last-child {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex: 1;
    border: 3px solid #fff;
    padding: 10px;
    margin-left: 20px;
}

.photo img {
    width: 100px;
    height: 100px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    background-color: blueviolet;
    padding: 0 10px;
    margin-top: 20px;
    overflow-x: auto;


}

.pagination span {
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
}


.selectedPage {
    font-weight: bold;
}

/* .btn {}

.about {}

.location {} */